<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <!-- Flow tracing is most useful with a pattern that shows location.
           Below pattern outputs class, line number and method name. -->
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %-5level %class{36}.%M:%L - %msg%xEx%n"/>
    </Console>
    <!-- default value for appFolderName is ${sys:user.home}/UMass Lowell Radiation Safety -->
    <RollingFile name="file"
                 fileName="${sys:appFolderName:-${sys:user.home}/UMass Lowell Radiation Safety}/Shipment Calculator/logs/shipmentCalc.log"
                 filePattern="${sys:appFolderName:-${sys:user.home}/UMass Lowell Radiation Safety}/Shipment Calculator/logs/shipmentCalc.%d{MM-dd-yyyy}.log.zip"
                 append="false">
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %-5level %class{36}.%M:%L - %msg%xEx%n"/>
      <TimeBasedTriggeringPolicy/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>